.restaurantlist{
    width: 100%;
    margin-top: 5px;
}
.card {
    width: 18rem;
    margin-left: 35px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: rgb(250, 246, 246);
}

.card-body{
    position: relative;
    height: 25vh;
}
.order_now{
    position: absolute;
    bottom: 25px;
    left: 25px;
    background:#FF6348;
    width: 80%;
    outline: none;
    border: none;
  }
  .order_now :hover {
    background: #d16a58 !important;
}
.rating{
  position: absolute;
  left: 11%;
  bottom: 35%;
}